.marquee-wrapper {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.marquee-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #222;
  font-family: Arial, sans-serif;
}

.marquee-track {
  display: flex;
  /* transition: transform 1s ease-in-out; */
  will-change: transform;
  /* width: max-content; */
  width: 100%;
}

.marquee-track-retailer {
  display: flex;
  /* transition: transform 1s ease-in-out; */
  will-change: transform;
  width: max-content;
  gap: 30px;
}

.marquee-item {
  flex: 0 0 auto;
  min-width: 100%; /* each item takes full width of marquee */
  box-sizing: border-box;
  /* padding: 10px 20px; */
  white-space: nowrap;
}

.best-retailer .loader_content {
    min-height: 200px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
}

.spinner-border{
  color: #fff !important;
}

.best-retailer{
  min-height: 270px !important;
}

.marquee-item-retailer {
  flex: 0 0 auto;
  min-width: 100%; /* each item takes full width of marquee */
  box-sizing: border-box;
  /* padding: 10px 20px; */
  white-space: nowrap;
}

.retailer-search-container {
  display: flex;
  gap:58%;
}

.retailer-label{
  padding-top: 10px;
  padding-left: 15%;
}
.retailer-search{
  padding-top: 10px;
}

@media (max-width: 1024px) {
  .marquee-heading {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .marquee-heading {
    font-size: 24px;
  }
}

.marquee {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: var(--marquee-bg-color, #fff);
    padding: 20px 0;
    /*border: 1px solid #000;*/
  }
  
  .marquee span {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    align-items: center;
    will-change: transform;
  }
  
  .marquee span > div {
    flex: 0 0 auto; /* Prevent flex shrinking */
    min-width: 300px; /* Base minimum width */
    /* max-width: 90vw; */  /* Don't let it overflow on small screens */
    box-sizing: border-box;
    width:100%;
  }

  .marquee-retailer {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* background-color: var(--marquee-bg-color, #fff); */
    padding: 20px 0;
    /*border: 1px solid #000;*/
  }
  
  .marquee-retailer span {
    display: flex;
    gap: 40px;
    white-space: nowrap;
    align-items: center;
    will-change: transform;
    justify-content: center;
  }

  .marquee-retailer span > div {
      flex: 0 0 auto;
      /* min-width: 300px; */
      max-width: 1vw;
      box-sizing: border-box;
  }
  
  .diamond-inner {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding: 20px;
    margin-left:1%;
    color: #fff;
    border-radius: 10px;
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 98%;
    max-width: none;
  }

  .new-arrival .diamond-inner {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding: 0px;
    margin-left:0%;
    color: #fff;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 98%;
    max-width: none;
  }

  .festive-offer .diamond-inner {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding: 5px;
    margin-left:0%;
    color: #fff;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    max-width: none;
  }

  .diamond-inner .offer-header {
    /*padding: 0*/
  }

  .diamond-inner .offer-header h2 {
    white-space: normal;  /* Allow wrapping */
    word-wrap: break-word; /* Optional: wrap long words */
    overflow-wrap: break-word; /* Modern alternative */
  }
  
  /* Responsive tweaks */
  @media (max-width: 768px) {
    .diamond-inner {
      height: 150px;
      padding: 5px;
      font-size: 14px;
    }

    .new-arrival .diamond-inner{
      height: 100%;
      width: 95%;
      padding: 0px;
      font-size: 14px;
    }

    .festive-offer .diamond-inner{
      height: 100%;
      width: 100%;
      padding: 5px;
      font-size: 14px;
    }

    .diamond-inner .offer-header {
      padding: 0;
    }
  
    .marquee span {
      gap: 10px;
    }

    .marquee-retailer span {
      gap: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .banner-sec .slider-banner{
      min-height: 20vh !important;
    }

    .wrapper section.ornament-slider .swiper {
      margin-bottom: -147px !important;
    }

    .new-arrival .diamond-inner {
      height: 100%;
      padding: 0px;
      font-size: 12px;
      width: 95%;
      margin: 5px 0px 5px 0px !important
    }

    .festive-offer .diamond-inner{
      height: 100%;
      padding: 10px;
      font-size: 12px;
      width: 100%;
      margin: 5px 0px 5px 0px !important;
    }

    .new-arrival .diamond-inner .offer-header {
      padding: 0;
    }

    .new-arrival .marquee-heading{
      margin-bottom: 0px;
      font-size: 16px;
      font-family: 'muli', sans-serif;
      font-weight: 400;
    }
    
    .new-arrival .marquee {
      padding: 0px;
    }

    .new-arrival .marquee-track{
      margin-left: 10px;
    }

    .new-arrival .marquee span {
      gap: 0px;
    }

    .marquee-retailer span {
      gap: 12.50px;
    }

    .retailer-search-container {
      display: flex;
      gap: 12%;
    }

    .retailer-label{
      padding-top: 10px;
      padding-left: 7%;
    }
    .retailer-search{
      padding-top: 10px;
    }

    .best-retailer .loader_content {
        min-height: 200px;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        margin-top: 12%;
        padding-top: 28%;
    }
  }

  @media (max-width: 400px) {
    .marquee-retailer span {
      gap: 12.5px;
    }

    .banner-sec .slider-banner{
      min-height: 21vh !important;
    }

    .retailer-search-container {
      display: flex;
      gap: 4%;
    }

    .retailer-label{
      padding-top: 10px;
      padding-left: 3%;
    }
    .retailer-search{
      padding-top: 10px;
    }

    .best-retailer .loader_content {
        min-height: 200px;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        margin-top: 12%;
        padding-top: 28%;
    }

    .new-arrival .diamond-inner {
        height: 100%;
        padding: 0px;
        font-size: 12px;
        width: 95%;
        margin: 0px 5px 0px 0px !important;
    }

    .festive-offer .diamond-inner {
        height: 100%;
        padding: 2px;
        font-size: 12px;
        width: 100%;
        margin: 0px 5px 0px 0px !important;
    }
  }

  @media (max-width: 767px) {
    /* .festive-offer .diamond-inner{
        background-position: right -100% center !important;
    } */
  }

  @media only screen and (width: 768px) {
    /* .festive-offer .diamond-inner{
        background-position: right -100% center !important;
    } */
    .banner-sec{
      padding-top: 115px !important;
    }

    .banner-sec .slider-banner{
      min-height: 32vh !important;
    }
  }

  @media (min-width: 768px) and (max-width: 1000px) {
    .banner-sec .slider-banner{
      min-height: 29vh !important;
    }
    .diamond-inner {
      height: 250px;
      padding: 15px;
      font-size: 16px;
      width: 98%; /* adjust to fit screen */
      /* background-size: contain !important;
      background-position: right bottom !important; */
    }

    .new-arrival .diamond-inner{
      height: 100%;
      padding: 0px;
      font-size: 16px;
      width: 98%; 
    }

    .festive-offer .diamond-inner{
      height: 100%;
      padding: 5px;
      font-size: 16px;
      width: 100%; 
    }
  
    .marquee span {
      gap: 15px;
    }
  
    .marquee {
      padding: 0px 0;
    }
  
    .diamond-inner .offer-header h2 {
      font-size: 20px;
      max-width: 300px;
    }
  
    .shop-now {
      font-size: 14px;
    }

    .retailer-search-container {
      display: flex;
      gap: 34%;
    }

    .retailer-label{
      padding-top: 10px;
      padding-left: 5%;
    }
    .retailer-search{
      padding-top: 15px;
    }
  }
  @media (min-width: 1024px) and (max-width: 1100px){
    .banner-sec .slider-banner{
      min-height: 31vh !important;
    }
    .retailer-search-container {
      display: flex;
      gap: 47%;
    }

    .retailer-label{
      padding-top: 10px;
      padding-left: 5%;
    }
    .retailer-search{
      padding-top: 18px;
    }
  }

/* Gradient fading effect */
.marquee::before, .marquee::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    z-index: 2;
}

.marquee::before {
    left: 0;
    background: linear-gradient(to right, rgba(var(--marquee-bg-color-rgba), 1), rgba(var(--marquee-bg-color-rgba), 0));
}

.marquee::after {
    right: 0;
    background: linear-gradient(to left, rgba(var(--marquee-bg-color-rgba), 1), rgba(var(--marquee-bg-color-rgba), 0));
}

/* Animation: left to right (scrolling to the left) */
@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.best-retailer .b-slider-image img {
    margin: 20px auto;
    width: 160px;
    height: 160px;
    border-radius: 0%;
    border: 8px solid #cdcdcd;
}
